
<%- include('header'); -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for (let titles =0; titles < title.length; titles++) {%>
        <h2><%= title[titles] %></h2>
        <p> <%= posts[titles] %></p>
        <% } %>
</body>
<%- include("footer") %>